<configuration>
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
		<encoder>
			<pattern>[%-5level] - %d{d.M.Y-HH:mm} - %msg%n</pattern>
		</encoder>
	</appender>
	<logger level="ERROR" name="org.apache.flink">
        <appender-ref ref="Console" />
	</logger>
	<root level="INFO">
		<appender-ref ref="Console" />
	</root>
</configuration>
